[Desktop Entry]
Icon=text-html
Name=https://www.electronics-lab.com/project/using-esp32s-flash-memory-for-data-storage/
Type=Link
URL[$e]=https://www.electronics-lab.com/project/using-esp32s-flash-memory-for-data-storage/
