[Desktop Entry]
Icon=text-html
Name=https://techtutorialsx.com/2017/11/18/esp32-arduino-https-get-request/
Type=Link
URL[$e]=https://techtutorialsx.com/2017/11/18/esp32-arduino-https-get-request/
